#nav {
	margin-top: -16px;
	margin-left: -8px;
}

#nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: green;
}
#nav li {
	float: left;
	padding-left: 500px;
	padding-top: -50px; 
}

#nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#quiz {
	color:red
}

#account {
  text-align: center;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: seagreen;
  font-weight: bold;
}
#start {
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  color:green;
  border-radius: 5px;
  padding: 2px;
}
